//
//  FiftyThreeSdk.xcconfig
//  FiftyThreeSdk
//
//  Copyright (c) 2015 FiftyThree, Inc. All rights reserved.
//

USER_PRODUCT_NAME = FiftyThreeSdk
USER_TARGET_NAME = $(USER_PRODUCT_NAME)

PRIVATE_HEADERS_FOLDER_PATH = "/../$(USER_PRODUCT_NAME)/$(USER_PRODUCT_NAME)"
PRODUCT_NAME = $(USER_TARGET_NAME)
PUBLIC_HEADERS_FOLDER_PATH = "/../$(USER_PRODUCT_NAME)/$(USER_PRODUCT_NAME)"
DSTROOT = /tmp/$(USER_PRODUCT_NAME).dst

FRAMEWORK_SEARCH_PATHS = "$(SDKROOT)/Developer/Library/Frameworks" "$(DEVELOPER_FRAMEWORKS_DIR)" "$(SRCROOT)/../../Core/ThirdParty/boost/framework"

HEADER_SEARCH_PATHS = "$(SRCROOT)/../../Core/ThirdParty" "$(SRCROOT)" "$(SRCROOT)/../../Core/ThirdParty/boost/"
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)" "$(SRCROOT)/../../ThirdParty" "$(SRCROOT)/../../Core/ThirdParty" "$(SRCROOT)/../../Core" "$(SRCROOT)/../../Common" "$(SRCROOT)/../GlobalSettings"

GCC_NO_COMMON_BLOCKS = YES
ONLY_ACTIVE_ARCH = NO

// By default unless you are building an archive Clang inserts bitcode markers but no bitcode in every .o file
// instead we force clang to embed bit code in every .o file see:
// http://stackoverflow.com/questions/31486232/how-do-i-xcodebuild-a-static-library-with-bitcode-enabled
ENABLE_BITCODE[sdk=iphoneos9.*] = YES
OTHER_CFLAGS[sdk=iphoneos9.*] = $(inherited) -fembed-bitcode
