[submodule "ThirdParty/TransitionKit"]
	path = ThirdParty/TransitionKit
	url = ssh://git@github.com/FiftyThree/TransitionKit.git
[submodule "Core"]
	path = Core
	url = ssh://git@github.com/FiftyThree/Core.git
