//
//  LineTest.xcconfig
//  CharcoalLineTest
//
//  Copyright (c) 2014 FiftyThree, Inc. All rights reserved.
//

CURRENT_PROJECT_VERSION = 1.0.0
BUNDLE_SHORT_VERSION_STRING = 1.0.0

PRODUCT_NAME = Line Test
BUNDLE_IDENTIFIER = com.fiftythree.Line-Test

GCC_PREFIX_HEADER = CharcoalLineTest/CharcoalLineTest-Prefix.pch
INFOPLIST_FILE = CharcoalLineTest/CharcoalLineTest-Info.plist

FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../../../ThirdParty/boost/framework" "$(SRCROOT)/../../../ThirdParty/Crashlytics"

LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/lib" "$(SRCROOT)/../../../ThirdParty/PogoConnect"

HEADER_SEARCH_PATHS = "$(SRCROOT)/../../../ThirdParty" "$(SRCROOT)/../../../../ThirdParty"

USER_HEADER_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../../FiftyThreeSdk" "$(SRCROOT)/../../../ThirdParty" "$(SRCROOT)/../../../../ThirdParty"  "$(SRCROOT)/../../../Core" "$(SRCROOT)/../../../Common" "$(SRCROOT)/../../../ThirdParty/AppBlade/iOS/Framework"

// TODO: Revert once we sort out the "only run Crashlytics on Jenkins" issue
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

ARCHS = $(ARCHS_STANDARD)
