<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_keys</key>
	<dict>
		<key>host</key>
		<string>https://appblade.com</string>
		<key>project_secret</key>
		<string>2ccbea0354f9eda609f052fa4744e444</string>
	</dict>
</dict>
</plist>
